@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.picture-wrapper {
    width: 40%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 20%;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo>span {
    font-family: Norse-Bold, 'Times New Roman', Times, serif;
    font-size: 128px;
    color: white;
}

.logo>img {
    height: 160px;
    width: auto;
}

.citation {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 24px;
    color: white;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 4px black, 0 0 4px black;
}

cite>a {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px black, 0 0 4px black;
}

.login-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ebf0e7;
}

.hero-wrapper{
    padding: 2.5rem;
}
.hero-wrapper p{
    margin: 2rem 0;
    font-size: 20px;
    font-weight:bold;
    width: 70%;
}


ul{
    list-style: none;
    display: flex;
    padding: 1rem 3rem 0 0;
}
form{
    padding: 2.5rem;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
form h1{
    font-size: 24px;
}
label{
    font-family:monospace;
    text-transform: uppercase;
    color: #444;
}
li{
    margin: 1rem 3rem 0 0;
}

input{
    display: block;
    appearance: none;
    outline: none;
    border: 2px solid #E5E7EB;
    border-radius: 3px;
    width: 260px;
    font-size: 18px;
    padding: 4px 6px;
}

.error{
    border: 2px solid rgb(177, 16, 16);;
}
.error + div::after{
    color: rgb(177, 16, 16);
    font-size: 12px;
    content: '* Passwords do not match';
}

input:focus{
    border: 2px solid rgb(45, 136, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

button{
    background-color: #596D48;
    padding: 1rem 2rem;
    margin: 2.5rem;
    border: 0;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    font-weight: bold;
}
button:hover{
    background-color: #85a06d;
}
.login-wrapper > p{
    margin: 0rem 2.5rem;
}
.login-wrapper > p > a{
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}